.cards{
display: grid;
grid-template-columns: 1fr;
grid-gap: 8px;
margin: 16px 0;
}
.card{
    border-radius: 7px;
    color: darkslategrey;
    padding: 16px;
    text-align: center;
    width: 300px;
    box-shadow: #0000006b 0px 0px 4px 1px;
    justify-self: center;
    background-color: whitesmoke;
}
.card img {
    width: 300px;
    height: 250px;
}
@media (min-width: 576px) {
    .cards {
        grid-template-columns:1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .cards {
        grid-template-columns:1fr 1fr 1fr;
    }
}